<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<script>

    window.onload = function () {

        var color1 = document.getElementById("green");
        var color2 = document.getElementById("red");

        color1.addEventListener("mouseover", changecolor);
        color2.addEventListener("mouseover", changecolor2);

        var ip = document.getElementById('input_text_id');
        var btn = document.getElementById('btn');
        var btnt = document.getElementById('btnt');


        btn.addEventListener("click", click);
        btnt.addEventListener("click", sohn);

        function click() {
            var ipt = ip.value;
            console.log("input value = "+ ipt);
        }
        function sohn() {
            ip.value ="손혁진";
        }

    }

    function changecolor() {
        s1.style.fontSize = '19px';
    }

    function changecolor2() {
        s1.style.color = 'red';
    }



    var a = document.getElementById('wrap');
    var b = document.getElementById('header');
    (function (window) {
        var wrap = null;
        var header = null;
        var headerName = null;

        var onScrollChange = function () {
            var is_bottom = wrap.scrollHeight - wrap.offsetHeight === wrap.scrollTop;
            console.log(wrap.scrollHeight, wrap.offsetHeight, wrap.scrollTop);
            if (wrap.scrollTop > 200) {
                header.className = headerName + ' a';
            } else {
                header.className = headerName;
            }
            console.log('aaa');
        };

        var init = function () {
            wrap = document.getElementById('wrap');
            header = document.getElementById('header');

            console.log(wrap, header);
            headerName = header.className;
            wrap.addEventListener('scroll', function (e) {
                onScrollChange();
            });
            // header.addEventListener('click', aa);
        };
        window.addEventListener('load', init);
    })(window);


</script>
<body>
<div class="bn">
    <h1 id="s1" style="color: green;">change color</h1><br/>
    마우스만 올려도 색깔 바뀌는 버튼:
    <button id="green">green</button>
    <button id="red">red</button>
    <br/>
</div>


<div class="wrap" id="wrap">

    <div class="header" id="header">
        <div class="logo">
            <span>
                <a href="#SAINT-MICHEL"><img src="/images/champ.png" alt="SAINT-MICHEL"></a>
            </span>
        </div>


        <div class="gnb_wrap">
            <ul>
                <li>
                    <a href="#SAINT-MICHEL">
                        SAINT-MICHEL
                    </a>
                </li>
                <li>
                    <a href="#LOUVRE">
                        LOUVRE
                    </a>
                </li>
                <li>
                    <a href="#SEINE">
                        SEINE
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--컨텐츠1 끗! -->

    <!--contents 1 시작-->
    <div class="content_layer v_full p_v_90" id="SAINT-MICHEL">
        <div class="main_background_video_wrapper">
            <video autoplay loop muted poster="/images/racoonman.jpg" class="main_background_video">
                <source src="/images/paris.mp4" type="video/mp4">
            </video>
        </div>
        <div class="content_wrapper">
            <input type="text" name="input_text_name" id="input_text_id" value="bb">
            <button name="btn" id="btn" value="cc"> 클릭</button>
            <button name="btnt" id = "btnt" value=""> value => 손혁진</button>
            <div class="content">
                <div class="float_content left">
                    <div class="text s_68 p_b_65 lh_110 w_700">
                        Le<br>
                        DEPART<br>
                        SAINT-MICHEL<br>
                    </div>
                    <div class="text black_alpha_50 lh_190 w_300">
                        paris
                    </div>
                </div>
                <div class="text s_15 lh_170 intro colored_pink">
                    소고기 부르기뇽<br>
                    망나뇽 미뇽</br>
                    빠리 가성비 맛집 1순위<br>
                    구야시 해장국<br>
                    카술레 된장국 <br>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--contents 2 -->
    <div class="content_layer v_full p_v_90" id="LOUVRE">
        <div class="main_background_video_wrapper">
            <video autoplay loop muted poster="/images/racoonman.jpg" class="main_background_video">
                <source src="/images/louvre.mp4" type="video/mp4">
            </video>
        </div>
        <div class="content_wrapper">
            <div class="content">
                <div class="float_content left">
                    <div class="text s_68 p_b_65 lh_110 w_700">
                        LOUVRE<br>
                        MUSEUM<br>
                        PARIS <br>
                    </div>
                    <div class="text black_alpha_50 lh_190 w_300">
                        paris
                    </div>
                </div>
                <div class="text s_15 lh_170 intro colored_dark">
                    루부루 박물관<br>
                    김홍도 전시회 5월부터 9월까지</br>
                    기안 귀귀 전시회 10월부터<br>
                    주말 및 공휴일 입장불가<br>
                    주차요금 30분에 5만원 10분 추가시 1만원 추가비용<br>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- contents3-->
    <div class="content_layer v_full p_v_90" id="SEINE">
        <div class="main_background_video_wrapper">
            <video autoplay loop muted poster="/images/racoonman.jpg" class="main_background_video">
                <source src="/images/seine.mp4" type="video/mp4">
            </video>
        </div>
        <div class="content_wrapper">
            <div class="content">
                <div class="float_content left">
                    <div class="text s_68 p_b_65 lh_110 w_700">
                        SEINE<br>
                        RIVER<br>
                    </div>
                    <div class="text black_alpha_50 lh_190 w_300">
                        paris
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>