<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<script>

</script>
<body>
<div title="게시판 전체를 감싸는 div" id="board_wrapper">
<!--        <div title="게시물 한줄">-->
<!--            <div title="게시물 아이디"></div>-->
<!--            <div title="게시물 제목"></div>-->
<!--            <div title="게시물 작성자"></div>-->
<!--            <div title="게시 날짜"></div>-->
<!--        </div>-->
</div>
</body>

</html>