<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="wrap" class="wrap">


        <!--고정UI 시작-->
        <div class="mail">
            <a href="mailto:support@mteg.co.kr"><img src="/img/mail.png" alt="support@mteg.co.kr"></a>
        </div>

        <div class="scroll on" id="btnScroll">
            <img src="/img/scroll_bnt.png" alt="Scroll">
        </div>

        <div class="top" id="btnGoTop">
            <a href="#top">
                <img src="/img/top_bnt.png" alt="위로">
            </a>
        </div>
        <!--고정UI 끝-->

        <div class="header dis_event" id="header">
            <div class="logo"><a href="#"><img src="/img/logo.png" alt="엠티이지"></a></div>
                    <div class="gnb_wrap">
                        <ul>
                            <li>
                                <a href ="#about">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href ="#hell">
                                    Hell
                                </a>
                            </li>
                            <li>
                                <a href="#heaven">
                                    heaven
                                </a>

                            </li>

                        </ul>

                    </div>
            <!-- header 끗!-->


                <!--contents 1 시작-->
                <div class="content_layer v_full p_v_90" id="top">
                    <div class="main_background_video_wrapper">
                        <video autoplay loop muted poster="/images/racoonman.jpg" class="main_background_video">
                            <source src="/images/paris.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="content_wrapper">
                        <div class="content">
                            <div class="float_content left">
                                <div class="text s_68 p_b_65 lh_110 w_700">
                                    Le<br>
                                    DEPART<br>
                                    SAINT-MICHEL<br>
                                </div>
                                <div class="text black_alpha_50 lh_190 w_300">
                                paris</div>
                            </div>
                            <div class="clear"></div>
                            </div>
                        </div>
                     </div>


                         <!--contents 2 시작-->


            </div>
        </div>
    </div>








</body>
</html>