<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<script>

</script>
<body>
<div title="게시판 전체를 감싸는 div" id="board_wrapper" >
    <table border="1">
        <div title="게시물 한줄" id ="bbs_main">

            <tr>
                <th title="게시물 아이디">번호</th>
                <th title="게시물 제목">제목</th>
                <th title="게시물 작성자">작성자</th>
                <th title="게시 날짜">날짜</th>
            </tr>
        </div>

        <div title="게시물 두줄" id ="bb2">
            <tr>
                <td title="게시물 아이디">1</td>
                <td title="게시물 제목">피카츄 식단 1번</td>
                <td title="게시물 작성자">피카츄</td>
                <td title="게시 날짜">2020-05-20</td>
            </tr>
        </div>

        <div title="게시물 세줄" id="bbs3">
            <tr>
                <td title="게시물 아이디">2</td>
                <td title="게시물 제목">꼬부기 식단 2번</td>
                <td title="게시물 작성자">꼬부기</td>
                <td title="게시 날짜">2020-05-21</td>
            </tr>
        </div>
        <div title="게시물 네줄" id="bbs4">
            <tr>
                <td title="게시물 아이디">3</td>
                <td title="게시물 제목">파이리 식단 3번</td>
                <td title="게시물 작성자">파이리</td>
                <td title="게시 날짜">2020-05-22</td>
            </tr>
        </div>

        <div title="게시물 다섯줄" id="bbs5">
            <tr>
                <td title="게시물 아이디">5</td>
                <td title="게시물 제목">또가스 식단 4번</td>
                <td title="게시물 작성자">또가스</td>
                <td title="게시 날짜">2020-05-23</td>
            </tr>
        </div>
    </table>
</div>

</body>

</html>