
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
}
body {
    background-color: #13171b;
    font-family: "Noto Sans KR", Arial, "sans-serif" ;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    color: #ffffff;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:link, a:link:active, a:visited, a:visited:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
img {
    vertical-align: top;
}

.clear {
    clear: both;
}
.disable_event {
    pointer-events: none;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 40px 50px;
    transition: 0.5s;
}
.header.not_top {
    background-color: rgba(19, 23, 27, 0.8);
    padding: 15px 50px 10px 50px;
}

.header > .logo {
    float: left;
    pointer-events: auto;
}

.header > .gnb_wrap {
    float: right;
    top: 0px;
}
.header > .gnb_wrap ul {
    margin: 0;
    float: left;
    padding: 0px;
}
.header > .gnb_wrap ul li {
    list-style: none;
    float: left;
    margin-left: 50px;
    padding-top: 5px;
    pointer-events: auto;
}
.header > .gnb_wrap ul li.on {
    border-bottom: 2px solid #ffffff;
}
.header > .gnb_wrap ul li:hover {
    border-bottom: 2px solid #ffffff;
}

.header > .gnb_wrap > .language {
    float: left;
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.header > .gnb_wrap > .language > ul > li {
    list-style: none;
    float: left;
    margin-left: 30px;
    line-height: 130%;
    padding-top: 15px;
}
.header > .gnb_wrap > .language > ul > li.on {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.header > .gnb_wrap > .language > ul > li:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.mail {
    position: fixed;
    top: 50%;
    margin-top: -70px;
    left: 50px;
    z-index: 100;
}

.top{
    display: block;
    position: fixed;
    z-index: 200;
    bottom: 50px;
    right: 50px;
    display: none;
}
.top.on {
    display: block;
}

.scroll{
    display: block;
    position: fixed;
    z-index: 150;
    bottom: 30px;
    left: 50%;
    margin-left: -10px;
    display: none;
}
.scroll.on {
    display: block;
}

.main_background_animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    z-index: 0;
}
.main_background_animation > #main_line_animation {
    width: 100%;
    height: 100%;
}

.main_background_video_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("/img/video.png") no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.main_background_video_wrapper .main_background_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background: url("/img/video.png") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.content_layer {
    position: relative;
    display: table;
    width: 100%;
    min-height: 700px;
    z-index: 10;
    scroll-snap-align: start;
}
.content_layer.v_full {
    min-height: 100vh;
}
.content_layer.bg_gray {
    background-color: #26282b;
}
.content_layer.bg_dark_gray {
    background-color: #0e1010;
}
.content_layer.bg_mid_gray {
    background-color: #13171b;
}
.content_layer.bg_img_heartbeat {
    background-image: url("/img/heartbeat.png");
    background-repeat: repeat-x;
    background-position: center top;
}
.content_layer.p_v_90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.content_layer .content_wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    padding: 0 50px;
    z-index: 20;
}
.content_layer .content_wrapper.v_top {
    vertical-align: top;
}

.content_layer .content_wrapper .content {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.content_layer .content_wrapper .content .float_content {
    text-align: left;
    max-width: 100%;
}
.content_layer .content_wrapper .content .float_content img {
    max-width: 100%;
}
.content_layer .content_wrapper .content .float_content.fixed_width {
    min-width : 50%;
}
.content_layer .content_wrapper .content .float_content.align_right {
    text-align: right;
}
.content_layer .content_wrapper .content .float_content.align_center {
    text-align: center;
}
.content_layer .content_wrapper .content .float_content.left {
    float: left;
}
.content_layer .content_wrapper .content .float_content.right {
    float: right;
}

.p_b_10 {
    padding-bottom: 10px;
}
.p_b_20 {
    padding-bottom: 20px;
}
.p_b_25 {
    padding-bottom: 25px;
}
.p_b_30 {
    padding-bottom: 30px;
}
.p_b_40 {
    padding-bottom: 40px;
}
.p_b_45 {
    padding-bottom: 45px;
}
.p_b_50 {
    padding-bottom: 50px;
}
.p_b_65 {
    padding-bottom: 65px;
}
.p_l_30 {
    padding-left: 30px;
}
.p_t_10 {
    padding-top: 10px;
}
.p_t_15 {
    padding-top: 15px;
}
.p_t_20 {
    padding-top: 20px;
}
.p_t_25 {
    padding-top: 25px;
}
.p_t_30 {
    padding-top: 30px;
}
.p_t_35 {
    padding-top: 35px;
}
.p_t_40 {
    padding-top: 40px;
}
.p_t_45 {
    padding-top: 45px;
}
.p_t_50 {
    padding-top: 50px;
}
.p_t_55 {
    padding-top: 55px;
}
.p_t_60 {
    padding-top: 60px;
}

.text {
    text-align: left;
}
.text.right {
    text-align: right;
}
.text.center {
    text-align: center;
}

.text.white {
    color: #ffffff;
}
.text.black_alpha_50 {
    color: rgba(255, 255, 255, 0.5);
}
.text.gray {
    color: #606060;
}
.text.light_gray {
    color: #a7a7a7;
}
.text.soft_gray {
    color: #808182;
}

.text.s_12 {
    font-size: 12px;
}
.text.s_13 {
    font-size: 13px;
}
.text.s_14 {
    font-size: 14px;
}
.text.s_15 {
    font-size: 15px;
}
.text.s_16 {
    font-size: 16px;
}
.text.s_17 {
    font-size: 16px;
}
.text.s_19 {
    font-size: 19px;
}
.text.s_20 {
    font-size: 20px;
}
.text.s_24 {
    font-size: 24px;
}
.text.s_28 {
    font-size: 28px;
}
.text.s_45 {
    font-size: 45px;
}
.text.s_47 {
    font-size: 47px;
}
.text.s_48 {
    font-size: 48px;
}
.text.s_50 {
    font-size: 50px;
}
.text.s_68 {
    font-size: 68px;
}

.text.lh_110 {
    line-height: 110%;
}
.text.lh_120 {
    line-height: 120%;
}
.text.lh_140 {
    line-height: 140%;
}
.text.lh_150 {
    line-height: 150%;
}
.text.lh_160 {
    line-height: 160%;
}
.text.lh_170 {
    line-height: 170%;
}

.text.w_100 {
    font-weight: 100;
}
.text.w_300 {
    font-weight: 300;
}
.text.w_400 {
    font-weight: 400;
}
.text.w_700 {
    font-weight: 700;
}

.research {
    text-align: center;
    font-size: 0;
}

.hospital {
    display: inline-block;
    padding: 0 15px;
}

.hospital:last-child {
    margin-right: 0;
}

.research_mail {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 25px;
}

.press_layer {
    text-align: center;
}

.press_link {
    display: inline-block;
    margin: 60px 10px 0 10px;
}

.press_link > .press {
    width: 335px;
    height: 420px;
    background-color: #13171b;
    display: inline-block;
    text-align: left;
}
.press_link:hover > .press {
    background-color: #3172b9;
}

.press_link > .press .press_text {
    padding: 15px 30px;
}
.press_link > .press .press_date {
    padding: 0 30px;
}

.contact_layer {
    position: relative;
    background-color: #13171b;
    height: 500px;
    z-index: 10;
    scroll-snap-align: start;
}
.contact_layer .map_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contact_layer .map_wrapper > iframe {
    margin-left: -50%;
    width: 150%;
    height: 100%;
}
.contact_layer .contact {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(49, 114, 185, 0.8);
    padding: 100px 0 0 100px;
}

.patent_con {
    width: 100%;
    max-width: 275px;
    min-width: 200px;
    height: 220px;
    float: left;
    padding-top: 70px;
}

.team {
    padding-top: 100px;
    text-align: center;
    font-size: 0;
}

.member {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}

.function {
    padding-top: 70px;
    text-align: center;
    font-size: 0;
}

.func {
    width: 220px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.sugrstory_img {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 100%;
}
.sugrstory_img > img {
    max-width: 90%;
    height: auto;
}

.vacs_img {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 100%;
}
.vacs_img > img {
    max-width: 90%;
    height: auto;
}

/*footer*/
.content_layer.footer {
    height: 245px;
    min-height: 245px;
    background-color: #232526;
    background-image: url("/img/footer.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer_wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.footer_wrap > div {
    display: table-cell;
}

.footer_wrap .footer_gnb_wrap {
    padding-top: 40px;
    width: 200px;
}

.footer_wrap .footer_gnb_wrap .footer_gnb {
    font-weight: 300;
    font-size: 14px;
}
.footer_wrap .footer_gnb_wrap ul li {
    list-style: none;
    padding: 3px 0;
}

.footer_wrap .footer_mteg_wrap {
    padding-top: 40px;
}

.footer_wrap .footer_mteg {
    font-weight: 300;
    line-height: 140%;
}

.copyright {
    font-weight: 300;
    font-size: 13px;
    color:#808182;
    padding-top: 16px;
}

.footer_contact_wrap {
    width: 410px;
    padding-top: 40px;
    margin-left: 670px;
}

.footer_mail {
    font-weight: 300;
    font-size: 13px;
    color:#808182;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.footer_tel {
    font-weight: 300;
    font-size: 13px;
    color:#808182;
    float: left;
    padding-top: 32px;
}

.research_layer {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}
.research_layer > .research_row {
    display: table;
    width: 100%;
    height: 50px;
    table-layout: fixed;
    border-bottom: 1px solid #4a4c4e;
    padding: 15px;
}
.research_layer > .research_row > .research_cell {
    display: table-cell;
    vertical-align: middle;
}
.research_layer > .research_row > .research_cell > .hospital_logo {
    vertical-align: top;
}
.research_layer > .research_row > .research_cell.logo {
    width: 210px;
    text-align: left;
}
.research_layer > .research_row > .research_cell.infomation {
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 160%;
    padding-left: 30px;
    color: #808182;
}
.research_layer > .research_row.table_header {
    height: 50px;
    padding: 0 15px;
}
.research_layer > .research_row.table_header > .research_cell {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.surgstory_youtube {
    width: 640px;
    margin: 100px auto 0 auto;
}
.surgstory_youtube > iframe {
    width: 640px;
    height: 360px;
}
