
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
}
body {
    background-color: #13171b;
    font-family: "Noto Sans KR", Arial, "sans-serif" ;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    color: #ffffff;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:link, a:link:active, a:visited, a:visited:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
img {
    vertical-align: top;
}

.clear {
    clear: both;
}
.disable_event {
    pointer-events: none;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type:  y proximity;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0px 50px;
    transition: 1s;
    background-color: #280137;
    opacity: 0.7;
}
.header.a {
    background-color: #ff9999;
}

.header > .logo {
    float: left;
    pointer-events: auto;
}

span img{
    resize:both;
    max-width: 200px;
    height: auto;
    margin: 5px;
}

.header > .gnb_wrap {
    float: right;
    top: 0px;
    padding-right: 250px;
}
.header > .gnb_wrap ul {
    margin: 0;
    float: left;
    padding: 0px;
}
.header > .gnb_wrap ul li {
    list-style: none;
    float: left;
    margin-left: 50px;
    padding-top: 75px;
    pointer-events: auto;
}
.header > .gnb_wrap ul li :hover{
    color: chocolate;
}


.top{
    display: block;
    position: fixed;
    z-index: 200;
    bottom: 50px;
    right: 50px;
    display: none;
}
.top.on {
    display: block;
}

.scroll{
    display: block;
    position: fixed;
    z-index: 150;
    bottom: 30px;
    left: 50%;
    margin-left: -10px;
    display: none;
}
.scroll.on {
    display: block;
}



.main_background_video_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 0;
}

.main_background_video_wrapper .main_background_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}

.content_layer {
    position: relative;
    display: table;
    width: 100%;
    min-height: 700px;
    z-index: 10;
    scroll-snap-align: start;
}
.content_layer.v_full {
    min-height: 100vh;
}
.content_layer.bg_gray {
    background-color: #26282b;
}
.content_layer.bg_dark_gray {
    background-color: #0e1010;
}
.content_layer.bg_mid_gray {
    background-color: #13171b;
}
.content_layer.bg_img_heartbeat {
    background-repeat: repeat-x;
    background-position: center top;
}
.content_layer.p_v_90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.content_layer .content_wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    padding: 0 50px;
    z-index: 20;
}
.content_layer .content_wrapper.v_top {
    vertical-align: top;
}

.content_layer .content_wrapper .content {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.content_layer .content_wrapper .content .float_content {
    text-align: left;
    max-width: 100%;
}
.content_layer .content_wrapper .content .float_content img {
    max-width: 100%;
}
.content_layer .content_wrapper .content .float_content.fixed_width {
    min-width: 50%;
}
.content_layer .content_wrapper .content .float_content.align_right {
    text-align: right;
}
.content_layer .content_wrapper .content .float_content.align_center {
    text-align: center;
}
.content_layer .content_wrapper .content .float_content.left {
    float: left;
}
.content_layer .content_wrapper .content .float_content.right {
    float: right;
}

.p_b_10 {
    padding-bottom: 10px;
}
.p_b_20 {
    padding-bottom: 20px;
}
.p_b_25 {
    padding-bottom: 25px;
}
.p_b_30 {
    padding-bottom: 30px;
}
.p_b_40 {
    padding-bottom: 40px;
}
.p_b_45 {
    padding-bottom: 45px;
}
.p_b_50 {
    padding-bottom: 50px;
}
.p_b_65 {
    padding-bottom: 65px;
}
.p_l_30 {
    padding-left: 30px;
}
.p_t_10 {
    padding-top: 10px;
}
.p_t_15 {
    padding-top: 15px;
}
.p_t_20 {
    padding-top: 20px;
}
.p_t_25 {
    padding-top: 25px;
}
.p_t_30 {
    padding-top: 30px;
}
.p_t_35 {
    padding-top: 35px;
}
.p_t_40 {
    padding-top: 40px;
}
.p_t_45 {
    padding-top: 45px;
}
.p_t_50 {
    padding-top: 50px;
}
.p_t_55 {
    padding-top: 55px;
}
.p_t_60 {
    padding-top: 60px;
}

.text {
    text-align: left;
}
.text.right {
    text-align: right;
}
.text.center {
    text-align: center;
}

.text.white {
    color: #ffffff;
}
.text.black_alpha_50 {
    color: rgba(255, 255, 255, 0.5);
}
.text.gray {
    color: #606060;
}
.text.light_gray {
    color: #a7a7a7;
}
.text.soft_gray {
    color: #808182;
}

.text.s_12 {
    font-size: 12px;
}
.text.s_13 {
    font-size: 13px;
}
.text.s_14 {
    font-size: 14px;
}
.text.s_15 {
    font-size: 15px;
}
.text.s_16 {
    font-size: 16px;
}
.text.s_17 {
    font-size: 16px;
}
.text.s_19 {
    font-size: 19px;
}
.text.s_20 {
    font-size: 20px;
}
.text.s_24 {
    font-size: 24px;
}
.text.s_28 {
    font-size: 28px;
}
.text.s_45 {
    font-size: 45px;
}
.text.s_47 {
    font-size: 47px;
}
.text.s_48 {
    font-size: 48px;
}
.text.s_50 {
    font-size: 50px;
}
.text.s_68 {
    font-size: 68px;
}

.text.lh_110 {
    line-height: 110%;
}
.text.lh_120 {
    line-height: 120%;
}
.text.lh_140 {
    line-height: 140%;
}
.text.lh_150 {
    line-height: 150%;
}
.text.lh_160 {
    line-height: 160%;
}
.text.lh_170 {
    line-height: 170%;
}

.text.w_100 {
    font-weight: 100;
}
.text.w_300 {
    font-weight: 300;
}
.text.w_400 {
    font-weight: 400;
}
.text.w_700 {
    font-weight: 700;
}

.intro {
    float: right;
    padding-top: 200px;
    padding-right:300px;
}

.colored_pink{
  color: #ff9999;
}

.colored_dark{
    color: #26282b;
}